[alias]
    b = branch
    rb = rebase
    cm = commit
    cmfix = commit --amend --no-edit --no-verify
    me = merge
    sts = status --short
    l = log --oneline
    hist = log --pretty=format:'%h %ad | %s%d [%an]' --graph --date=iso
    cmt = commit -a
    a = add
    c = checkout
    cb = checkout -b
    rf = reflog
    s = status
    r = reset
    re = restore
    rbcommit = commit --amend --no-verify --no-edit

[core]
    pager = delta

[interactive]
    diffFilter = delta --color-only

[delta]
    navigate = true    # use n and N to move between diff sections

    # delta detects terminal colors automatically; set one of these to disable auto-detection
    # dark = true
    # light = true

[merge]
    conflictstyle = diff3

[diff]
    colorMoved = default

[url "ssh://git@bb.yandexcloud.net/"]
  insteadOf = https://bb.yandex-team.ru/scm/
[url "ssh://git@bb.yandexcloud.net/"]
  insteadOf = https://bb.yandexcloud.net/scm/

[core]
    excludesfile = ~/.gitignore
[user]
	email = bratushkadan@gmail.com
	name = bratushkadan
[init]
	defaultBranch = main
[pull]
	ff = only

